{% extends "example/wrapper.html" %}

{% block content %}
<html>
<head>
<style>
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" href="https://pp.userapi.com/c841532/v841532886/6c3e1/BNqq_4qDPRk.jpg">
    <img src="https://pp.userapi.com/c841532/v841532886/6c3e8/GWZ1KAvhtRU.jpg" alt="Fjords" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href=" https://pp.userapi.com/c841532/v841532886/6c3cf/aw8arL6A5tM.jpg ">
    <img src="forest.jpg" alt="Forest" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="https://pp.userapi.com/c841532/v841532886/6c3bd/JdUBmRVdjys.jpg">
    <img src="https://pp.userapi.com/c841532/v841532886/6c3ef/RJFrSjidI6U.jpg" alt="Northern Lights" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>


</body>
</html>
{% endblock%}
